<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>HTML 문서</title>
    <style>
        td, th {
            padding:10px;
        }
    </style>
</head>
<body>
    <table border="1">
        <tr>
            <th width =200>과목명</th>
            <th width =200>담당교원</th>
            <th width =200><u>메모장</u></th>
        </tr>
        <tr>
            <td>머신러닝</td>
            <td>이종태교수님</td>
            <td><a href="{{ url_for('memo') }}"> 이동</a></td>
        </tr>

 <tr>
            <td>정보시스템 통합 및 실습</td>
            <td>간자르교수님</td>
            <td><a href="{{ url_for('memo') }}"> 이동</a></td>
        </tr>
 <tr>
            <td>산업 AI</td>
            <td>우딘 교수님</td>
            <td><a href="{{ url_for('memo') }}"> 이동</a></td>
        </tr>
 <tr>
            <th colspan = 3 align = "left">기능</th>
        </tr>
 <tr>
            <td>계산기</td>
            <td colspan =2> <a href="{{ url_for('calcul') }}"> 이동</a></td>>
        </tr>
    </table>

</body>
</html>